body{
    background-color: #F2F2F2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
}

header{
    color: rgb(107, 20, 141);
    margin: 1%;
    padding: 2%;
}

hr{
    background-color: rgb(107, 20, 141);
    color: rgb(107, 20, 141);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
}

img {
    height: 40px;
  }